streamlit==1.40.1
pandas==2.2.3
numpy==1.26.4
plotly==5.24.1
matplotlib==3.9.2
joblib==1.4.2
scikit-learn==1.5.2
seaborn==0.13.2
statsmodels==0.14.0
google-cloud-storage==1.32.0
json==2.0.9
toml==0.10.2
